small {
  position: fixed;
  left: 268px;
  top: 415px;
}
button {
  margin: 0;
  color: white;
  background-color: #4d799d;
  font-size: 15px;
  padding: 2px 10px;
  border: 0.2px solid white;
  border-radius: 5px;
  transition: all 150ms ease-in-out;
}
button:hover {
  cursor: pointer;
  color: black;
  background-color: white;
}

.wrapper {
  width: 540px;
  position: fixed;
  left: 120px;
  top: 50px;
  border: 1px solid white;
  border-radius: 25px;
  background: linear-gradient(to right, #243949 0%, #517fa4 100%);
}
.header,
.footer {
  display: grid;
}
.header {
  grid-template-columns: 270px 270px;
}

.row {
  display: grid;
  grid-template-columns: 77px 184px;
  grid-template-rows: 90px;
  align-items: center;
  color: white;
}
.descriptionWeather {
  list-style: none;
  line-height: 1.1;
  font-size: 15px;
  padding-inline-start: 45px;
  margin: 138px 0px 16px -4px;
}
.scale {
  font-size: 71px;
  margin-block-start: 104px;
}
.footer {
  display: grid;
  font-size: 19px;
  line-height: 1.3;
  margin-bottom: 10px;
  grid-auto-flow: column;
  grid-gap: -3px;
  text-align: center;
}
.border {
  border-top: 1px solid white;
}
.footer,
.headerleft,
.maindegrees {
  color: white;
}
body,
.main,
.main1,
.maindegrees {
  margin: 0;
}
.main {
  font-size: 41px;
}
.main1 {
  font-size: 26.5px;
  margin-block-end: 0px;
  margin-block-start: 0px;
  margin-inline-start: 1px;
}
.headerleft {
  margin-block-start: 33px;
  margin-block-end: 33px;
  margin-inline-start: 50px;
  margin-inline-end: 0px;
  line-height: 1.4;
}
.sunicon1 {
  margin: -9px 0px -17px 0px;
  margin-inline-start: -12px;
  position: relative;
}
.form {
  margin-block-start: 45px;
  margin-block-end: 0px;
  margin-inline-start: 8px;
  margin-inline-end: 0px;
  line-height: 1.7;
}
.maindegrees {
  font-size: 67px;
}
.forecast-week {
  margin-top: 13px;
  position: relative;
}
.icons {
  margin: 5px 0px -1px 0px;
}
.forecast-degree {
  margin-block-end: 0px;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  margin-block-start: 0px;
  font-size: 15px;
}
.degrees-link {
  position: fixed;
  margin-block-start: -91px;
  margin-inline-start: 71px;
  font-size: 18px;
}

#chooseacity {
  font-size: 14px;
}
#current-date {
  margin: 0;
  margin-bottom: 5px;
}
#celsium,
#fahrenheit {
  font-size: 15px;
  text-decoration: none;
}

#search-form {
  margin-block-start: 4px;
}
